Non-negative matrix factorization using Autograd

In [2]:
import autograd.numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
A = np.array([[3, 4, 5, 2],
                   [4, 4, 3, 3],
                   [5, 5, 4, 3]], dtype=np.float32).T

In [37]:
A[0, 0] = np.NAN

In [38]:
A

array([[ nan,   4.,   5.],
       [  4.,   4.,   5.],
       [  5.,   3.,   4.],
       [  2.,   3.,   3.]], dtype=float32)

In [39]:
~np.isnan(A)

array([[False,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]], dtype=bool)

In [63]:
shape = A.shape
rank = 1

In [64]:
def cost(W, H):
    pred = np.dot(W, H)
    mask = ~np.isnan(A)
    return np.sqrt(((pred - A)[mask].flatten() ** 2).mean(axis=None))

In [72]:
def cost2(W, H):
    pred = np.dot(W, H)
    mask = ~np.isnan(A)
    error = pred[mask]-A[mask]
    rel_error = np.divide(error, A[mask])
    return np.sqrt((rel_error ** 2).mean(axis=None))
    #return np.sqrt(((pred - A)[mask].flatten() ** 2).mean(axis=None))

In [65]:
from autograd import grad, multigrad

In [73]:
grad_cost= multigrad(cost2, argnums=[0,1])

In [74]:
H =  np.abs(np.random.randn(rank, shape[1]))
W =  np.abs(np.random.randn(shape[0], rank))
learning_rate=0.01
for i in range(5000):
    if i%100==0:
        print "*"*20
        print i
        print "*"*20
        print cost(W, H)
    del_W, del_H = grad_cost(W, H)
    W =  W-del_W*learning_rate
    H =  H-del_H*learning_rate
    W[W<0] = 0
    H[H<0] = 0
    #print cost(W, H)

********************
0
********************
3.32727707898
********************
100
********************
3.22632772805
********************
200
********************
3.11094564137
********************
300
********************
2.97905791549
********************
400
********************
2.82854594871
********************
500
********************
2.65742336158
********************
600
********************
2.46415631615
********************
700
********************
2.24820904524
********************
800
********************
2.01092047102
********************
900
********************
1.75678984891
********************
1000
********************
1.49503435268
********************
1100
********************
1.24065114074
********************
1200
********************
1.01326337212
********************
1300
********************
0.831971191549
********************
1400
********************
0.706658920068
********************
1500
********************
0.631620749631
********************
1600
********************
0.590775765604
********************
1700
********************
0.569152840225
********************
1800
********************
0.557532968836
********************
1900
********************
0.551124309343
********************
2000
********************
0.547520977927
********************
2100
********************
0.545482227657
********************
2200
********************
0.544339098283
********************
2300
********************
0.543715852902
********************
2400
********************
0.543395036699
********************
2500
********************
0.543248480731
********************
2600
********************
0.543200032327
********************
2700
********************
0.543204482262
********************
2800
********************
0.543235242084
********************
2900
********************
0.543276973446
********************
3000
********************
0.543321118328
********************
3100
********************
0.543363169547
********************
3200
********************
0.543401001404
********************
3300
********************
0.543433851933
********************
3400
********************
0.543461707282
********************
3500
********************
0.543484934324
********************
3600
********************
0.543504065967
********************
3700
********************
0.543519679757
********************
3800
********************
0.543532332838
********************
3900
********************
0.543542530374
********************
4000
********************
0.543550713344
********************
4100
********************
0.543557257106
********************
4200
********************
0.543562475548
********************
4300
********************
0.543566627787
********************
4400
********************
0.543569925664
********************
4500
********************
0.54357254109
********************
4600
********************
0.543574612773
********************
4700
********************
0.543576252117
********************
4800
********************
0.543577548283
********************
4900
********************
0.543578572414

In [75]:
pd.DataFrame(W)

          0
0  2.286622
1  2.277868
2  1.940536
3  1.329826

In [76]:
pd.DataFrame(H)

         0         1         2
0  1.76929  1.762456  2.169969

In [77]:
pred = np.dot(W, H)
pred

array([[ 4.04569723,  4.03007206,  4.96189839],
       [ 4.03020798,  4.01464263,  4.94290139],
       [ 3.43337074,  3.42011048,  4.21090254],
       [ 2.35284735,  2.34376026,  2.88568047]])

In [78]:
A

array([[ nan,   4.,   5.],
       [  4.,   4.,   5.],
       [  5.,   3.,   4.],
       [  2.,   3.,   3.]], dtype=float32)